# Ignore everything recursively
**

# Unignore this direcotry ...
!/progs/

# ... but ignore everytnig under it ...
/progs/**

# ... but re-unignore these specific files.
!/progs/ctwmodes.f90
!/progs/ctwmodes_pars.f90

!/utils/
/utils/*
!/utils/conf.jl
!/utils/fortbin2nc.jl
!/utils/plot-grid.jl

!/CITATION.cff
!/LICENSE
!/README.md
!/.gitignore
