# Ignore everything recursively
**

# Unignore this direcotry ...
!/progs/

# ... but ignore everytnig under it ...
/progs/**

# ... but re-unignore these specific files.
!/progs/Makefile
!/progs/ctwmodes.f90
!/progs/ctwmodes_pars.f90
!/progs/Grid.txt
!/progs/Ne.txt

!/utils/
/utils/*
!/utils/conf.jl
!/utils/fortbin2nc.jl
!/utils/plot-grid.jl
!/utils/CTW_data_tools.jl
!/utils/SeaParams.jl
!/utils/Conf_Ne.txt
!/utils/Conf_topo.txt

!/project/
!/project/*

!/CITATION.cff
!/LICENSE
!/README.md
!/.gitignore
